# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.vs/project-meteor-dashboard/FileContentIndex/122b6da2-946b-4eb2-941d-cecfd7b378df.vsidx
/.vs/project-meteor-dashboard/FileContentIndex/acb97972-5e8c-4ddd-b149-577a0f00c7f2.vsidx
/.vs/project-meteor-dashboard/FileContentIndex/651667d7-f961-47fa-a869-ed1b45e81a6a.vsidx
/.vs/project-meteor-dashboard/FileContentIndex/59c5050d-29b5-4b9e-9edc-f11007b358ca.vsidx
/.vs
